/* Selector{
            property1: value1;
            property2: value2;
        } */

        .External{
            color: rgb(128, 0, 90);
            font-size: 30px;
        }
        p{
            color: rgb(15, 0, 128);
            font-size: 30px;
        }